.navBar{
    background-color: rgba(255, 255, 255, 0.3);
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 8.125rem;
    align-items: center;
    padding: 1.25rem;
    color: rgb(0, 0, 0);
    .logoSp{
        width: 7.5rem;
        height: 7.5rem;
        border-radius: 50%;
    }
    .navUl{
        list-style: none;
        display: flex;
        gap:40px;
        li{
            a{ 
                color: rgb(255, 255, 255);
                text-decoration: none;
                font-size: 1.25rem;
            }
        }
    }
    .loginUserContainer{
        display: flex;
        flex-direction: column;
        color: aliceblue;
        font-size: 1rem;
        
        .calssBlock{
            display: block;
        }
        .classNone{
            display: none;
        }
        .icowats{
            
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            margin-right: 0;
            gap: 1.25rem;
            width: 12.5rem;
            .iconsRed{
               width: 1.875rem;
               height: 1.875rem;
            }
            .imgWatsApp{
                width: 1.875rem;
               height: 1.875rem;
            }
        }
    }
    
}

@media (max-width: 768px){
    .navBar{
        background-color: rgba(255, 255, 255, 0.3);
        width: 100%;
        display: flex;
        justify-content: space-between;
        height: 13.4375rem;
        align-items: center;
        padding: .625rem;
        color: white;
        margin: 0;
        flex-direction: column;
        .logoSp{
            width: 5rem;
            height: 5rem;
            border-radius: 3.125rem;
            margin-left: 0;
        }
        .navUl{
            margin-right: 0;
            list-style: none;
            display: flex;
            gap:10px;
            li{
                a{ 
                    color: white;
                    text-decoration: none;
                    font-size: 1.25rem;
                }
            }
            
        }
            .icoWats{
            width: 50%;
            display: flex;
            align-items: center;
            flex-direction: row;
            margin-right: 0;
            gap: 1.25rem;
            img{
                width: 1.875rem;
            }
        }
    }
}