.navBar{
    background-color: black;
    display: flex;
    height: 6.25rem;
    align-items: center;
    padding: 1.25rem;
    color: white;
    img{
        width: 5rem;
        height: 5rem;
        border-radius: 3.125rem;

    }
    .navUl{
        list-style: none;
        display: flex;
        gap:20px;
        
    }
}