.cardUpload{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    h3{
        font-size: 1.875rem;
    }
    form{
        display: flex;
        align-items: flex-start;
        width: 15.625rem;
        margin: 1.875rem;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}