.allPage{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    min-height: calc(100vh - 5.3125rem - 10.625rem);
    background: linear-gradient(rgba(73, 85, 68, 0.75),rgba(5,7,12, 0.75)),
    url("/img/background.webp");
    background-size:contain;
    background-repeat:repeat-y;
    background-position: center;
    .homeContainer{
        height: 100%;
        min-height: calc(100vh - 5.3125rem - 10.625rem);
        width: 85%;
        
        display: flex;
        flex-direction: column;
        .buttonNewContainer{
            background-color: rgb(252, 255, 250);
            width: 18.75rem;
            border-radius: .625rem;
            margin: 1.25rem;
            text-align: center;
            .buttonNew{
                
                font-size: 3.125rem;
                height: 5rem;
                transition: 0.3s;
            }
            .buttonNew:hover{
                color: rgb(255, 255, 255);
                background-color: rgb(0, 0, 0);
                border-color: #106cd5 ;
                scale: 1.1;
            }
        }
        .new{
            display: flex;
            .titleHome{
                margin: 1.875rem 0 0 6.25rem;
                width: 50%;
                
                h2{
                color: white;
                font-size: 8.125rem;
                
                }
                h3{
                color: rgb(105, 196, 13);
                font-size: 5.625rem;
                }
            } 
        }
    }
    .sectionServices{
        display: flex;
        padding-bottom: 1.25rem;
        .ulServices{
            list-style-type: disc;
            font-size: 1.875rem;
            
            margin-left: 6.25rem;
            li{
                color: white;
            }
        } 
        .ulServices2{
            list-style-type: disc;
            font-size: 1.875rem;
            
            margin-left: 6.25rem;
            
            li{
                color: white;
            }
        }
    }
    .carruselContainer{
            margin-top: 3.125rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            h6{
                text-align: center;
                color: white;
                font-size: 2.5rem;
                background-color: black;
                background-size: cover;
                width: 25rem;
                border-radius: .3125rem;
            }
            .cardContainer{
                margin-top: 1.25rem;
                width: 21.875rem;
                background-color: rgb(255, 255, 255);
                color: rgb(0, 0, 0);
                .containerImg{
                    width: 21.875rem;
                    .imgImg{
                        width: 21.875rem;
                        img{
                            width: 21.875rem;
                        }
                    }
                }
            }
            .buttonGo{
                background-color: rgb(172, 21, 21);
            }
            .containerCarrusel{
                margin: 1.25rem;
                padding-top: 1.25rem;
                width: 25rem;
                
            }
    }
    .carruselContainer2{
        width: 70%;
    }
        
    .backWash{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        min-height: (100vh);
        min-height: calc(100vh - 5.3125rem - 10.625rem);
        background: linear-gradient(rgba(135, 155, 127, 0.75),rgba(5,7,12, 0.75)),
        url("/img/backwash.webp");
        background-size: cover;
        padding-top: 4.375rem;
        .titleWash{
            color: white;
            font-size: 8.125rem;
        }
        p{
            font-size: 3.125rem;
            color: white;
        }
        .horarioContainer{
            text-align: center;
            .horario{
                color: white;
                font-size: 5.625rem;
            }
        }
        
        .buttonWash{
            button{
                width: 18.75rem;
                color: white;
                border-radius: .3125rem;
                margin: .3125rem;
                background-color: rgb(10, 10, 10);
            }
        }
        .parrafoContacto{
            color: rgb(255, 255, 255);
            width: 100%;
            height: 15.625rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 5rem;
            background-color: rgb(34, 34, 34);
            .ubicacion{
                font-size: 3.125rem;
                text-align: center;
                    padding-top: 1.25rem;
            }
            .titleCtto{
                display: flex;
                flex-direction: row;
                font-size: 3.125rem;
                font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            }
            .iconsCtto{
                display: flex;
                flex-direction: row;
                gap: 1.875rem;
                justify-content: center;
                .imgWatsApp{
                    width: 3.125rem;
                   height: 3.125rem;
                }
            }
            
        }
    }
}


@media (max-width: 1024px){

    .allPage{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        background-color: rgb(223, 240, 216);
        background: linear-gradient(rgba(73, 85, 68, 0.75),rgba(5,7,12, 0.75)),
        url("/img/back1024.webp");
        background-size:100%;
        background-repeat: no-repeat;
        .homeContainer{
            padding: 0;
            background: linear-gradient(rgba(73, 85, 68, 0.75),rgba(5,7,12, 0.75)),
        url("/img/back1024.webp");
            height: 100%;
            width: 100%;
            background-size: 100%;
            background-repeat: no-repeat;
            display: flex;
            flex-direction: column;
            .buttonNewContainer{
                background-color: rgb(21, 151, 9);
                width: 18.75rem;
                border-radius: .625rem;
                margin-top: 1.25rem;
                .buttonNew{
                    font-size: 3.125rem;
                    height: 5rem;
                    
                }
                .buttonNew:hover{
                    background-color: rgb(28, 184, 61);
                    
                }
            }
            .new{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-top: 1.25rem;
                .titleHome{
                    margin: 0;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    
                    
                    h2{
                    color: white;
                    font-size: 3.75rem;
                    
                    }
                    h3{
                    color: rgb(105, 196, 13);
                    font-size: 3.75rem;
                    margin: 0;
                    
                    }
                    .sectionServices{
                        width: 31.25rem;
                        .ulServices{
                            list-style-type: circle;
                            font-size: 1.5rem;
                            padding-top: 0;
                            margin: 0;
                            li{
                                color: white;
                            }
                            } 
                            .ulServices2{
                                list-style-type: circle;
                                font-size: 1.5rem;
                                padding-top: 0;
                                
                                margin: 0;
                                
                                li{
                                    color: white;
                                    width: 37.5rem;
                                }
                            }
                    }
               
                } 
            }
            .sectionServices{
                display: flex;
                flex-wrap: wrap;
                padding: 0;
                gap: 1.875rem;
                justify-content: center;
                align-items: center;

                .ulServices{
                    display: flex;
                    flex-wrap: wrap;
                    list-style-type:disc;
                    margin: 0;
                    font-size: 1rem;
                    gap: 1.25rem;
                } 
                .ulServices2{
                    display: flex;
                    flex-wrap: wrap;
                    list-style-type: disc;
                    font-size: 1rem;
                    margin-left: 0;
                    gap: 1.25rem;
                }
            }    
            .parrafoContacto{
                color: rgb(255, 255, 255);
                width: 100%;
                height: 6.25rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                .ubicacion{
                    font-size: 1.875rem;
                }
                .titleCtto{
                    display: flex;
                    flex-direction: row;
                    font-size: 1.875rem;
                    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                    
                    
                }
                .iconsCtto{
                                display: flex;
                                flex-direction: row;
                                gap: 1.875rem;
                                justify-content: center;
                            }
            }
    
        }
        
        .carruselContainer{
                
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: .625rem;
                margin-bottom: 0;
                h6{
                    text-align: center;
                    color: white;
                    font-size: 2.5rem;
                    background: linear-gradient(to right, #2a502d, #139102, #0f6b26);
                    background-size: cover;
                    width: 18.75rem;
                }
                .cardContainer{
                    
                    margin-top: 1.25rem;
                    width: 18.75rem;
                    background-color: black;
                    color: white;
                    align-items: center;

                    .containerImg{
                        width: 18.75rem;
                        .imgImg{
                            width: 18.75rem;
                            img{
                                width: 18.75rem;
                            }
                            
                            
                        }
                    }
                }
                .buttonGo{
                    background-color: rgb(172, 21, 21);
                }
                
                .containerCarrusel{
                    
                    padding-top: .625rem;
                    width: 12.5rem;
                    
                }
        }
        .carruselContainer2{
            width: 100%;
            height: 6.25rem ;
            background-color: #0f6b26;
            
        }
            
        .backWash{
            display: flex;
            flex-direction: column;
            padding-bottom: 6.25rem;
            width: 100%;
            height: 100vh;
            background: linear-gradient(rgba(5,7,12, 0.75),rgba(5,7,12, 0.75)),
            url("/img/backwash.webp");
            background-size: cover;
            padding-top: 3.125rem;
            .titleWash{
                color: white;
                font-size: 2.8125rem;
            }
            p{
                font-size: 1.875rem;
                color: white;
            }.horarioContainer{
                 .horario{
                    color: white;
                    font-size: 1.5625rem;
                }
            }
           
            .buttonWash{
                display: flex;
                flex-direction: column;
                button{
                    width: 15.625rem;
                    height: 2.5rem;
                    color: white;
                    border-radius: .3125rem;
                    margin: .3125rem;
                    background-color: rgb(10, 10, 10);
                }
            }
            .parrafoContacto{
                display: flex;
                .titleCtto{
                    font-size: 1.75rem;
                }
                p{
                    font-size: 1.5625rem;
                }
                .ubicacion{
                    text-align: center;
                    padding-top: .625rem;
                }
            }
        }
    }


}